.container {
    display: flex;
    justify-content: space-around;
    background-color: #425371;
    padding: 10px;
    align-items: center;

}

.listCon ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    align-items: center;
    font-size: 17px;
    padding: 3px;
    cursor: pointer;

}


.navbarCon {
    font-size: 22px;
    color: #ffffff;
}

.listCon ul input {
    padding: 7px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.navLink {
    color: white;
    text-decoration: none;
}

.navLink:hover {
    text-decoration: underline #425371 !important;
}